
body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

h1 {
    color: #38bdf8;
    font-size: 45px;
}

h2 {
    color: #facc15;
    font-size: 30px;
}

p {
    color: #cbd5e1;
    font-size: 20px;
}
